<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeterApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MeterApp.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
        </MeterApp.Settings>
    </applicationSettings>
	<appSettings>
		<add key="BaudRate" value="9600" />
		<add key="Port" value="COM4" />
		<add key="DataBits" value="8" />
		<add key="Parity" value="0" />
		<add key="StopBits" value="1" />
	</appSettings>
</configuration>